.home {
  background-color: rgba(27, 27, 50, 0.6);
  border-radius: 10px;
  border: 2px solid white;
  padding: 2rem;

  * {
    padding: 0.25rem 0;
  }

  &__heading {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
  }

  &__paragraph {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding-top: 1rem;
    color: white;
  }

  &__container {
    display: flex;
    flex-direction: column;
    color: white;
  }

  &__started {
    display: flex;
    justify-content: center;
  }
  &__started-heading {
    font-size: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-container {
    display: flex;
    justify-content: center;
  }

  &__form-input {
    height: 3.5rem;
    width: 80%;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background-color: #fafafa;

    &::active {
      border-color: #0065ad;
    }

    &::placeholder {
      font-size: 1.5rem;
    }
  }

  &__button-container {
    display: flex;
    justify-content: space-around;
  }
  &__button {
    font-size: 1rem;
    background-color: #98c1d9;
    border-radius: 1rem;
    border-color: transparent;
    margin: 1rem 0;
    padding: 1rem 2rem;

    &:hover {
      background-color: #e0fbfc;
    }
  }
}

@media only screen and (min-width: 786px) {
  .home {
    width: 60%;
    margin: auto;
    margin-top: 4rem;

    &__button {
      font-size: 2rem;
    }

    &__button-container {
      margin-top: 2rem;
    }
  }
}

@media only screen and (min-width: 1280px) {
}
