body {
  background-image: url("./assets/images/massimiliano-morosinotto-Tw_VQuS3Xio-unsplash.jpg");
  padding: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
