.vote {
  &__heading {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3rem;
    padding-bottom: 4rem;
    padding-top: 2rem;
  }

  &__questions-container {
  }

  &__question {
    color: white;
    font-size: 2rem;
  }

  &__input {
  }

  &__label {
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__hidden {
    visibility: hidden;
  }
}
