.notfound {
  * {
    text-align: center;
    padding: 1rem 0;
    color: white;
  }
}

img {
  display: flex;
  margin: auto;
  border-radius: 50%;
  width: 12.5rem;
  height: 12.5rem;
  margin-top: 2rem;
}

@media only screen and (min-width: 786px) {
  .notfound {
    * {
      text-align: center;
      padding: 1rem 0;
      color: white;
    }
  }

  img {
    display: flex;
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
  }
}

@media only screen and (min-width: 1280px) {
}
